@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 41.1rem;
  font-family: var('--fontfamily');
}

header {
  background-color: var('--pinkColor');
  padding: var('--marginMedium');
}

.h1-like {
  display: block;
  margin-top: var('--marginTiny');
  font-size: var('--fontsizebig');
}

.h2-like {
  font-size: var('--fontsizeSmall');
}

.prices {
  background-color: var('--pinkColor');
}

.header__titles--h1 {
  display: flex;
}

.visually-hidden {
  display: none;
}

.content {
  padding: var('--marginMedium');
}

.emptystate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptystate__content {
  margin-top: 5rem;
  color: var('--grayColor');
  font-size: var('--fontsizeMedium');
  margin-top: 1.8rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 7.1rem;
  background-color: var('--textColor');
}

.footer__button {
  margin: var('--marginSmall') 0 var('--marginSmall') 0;
}
