@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 41.1rem;
  font-family: var('--fontfamily');
}

header {
  background-color: var('--pinkColor');
  padding: var('--marginMedium');
}

.h1-like {
  display: block;
  margin-top: var('--marginTiny');
  font-size: var('--fontsizebig');
}

.h2-like {
  font-size: var('--fontsizeSmall');
}

.header__titles--h1 {
  display: flex;
  margin-right: 3rem;
}

.visually-hidden {
  display: none;
}

.content {
  padding: var('--marginMedium');
}

.emptystate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptystate__content {
  margin-top: 5rem;
  color: var('--grayColor');
  font-size: var('--fontsizeMedium');
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 7.1rem;
  background-color: var('--textColor');
}

.footer__button {
  margin: var('--marginSmall') 0 var('--marginSmall') 0;
}

.prices {
  background-color: var('--pinkColor');
  justify-self: center;
  padding-bottom: var('--marginMedium');
}

.prices__list {
  display: grid;
  grid-template-rows: 6.3rem;
  grid-template-columns: 17rem 17rem;
  grid-gap: 1.1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.price__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: var('--marginSmall');
  border-radius: .5rem;
}

.price__button__wrapper {
  display: flex;
  flex-direction: column;
}

.price__button__name {
  font-size: var('--fontsizeMedium');
}

.price__button__plus {
  background-color: var('--buttonColor');
  font-size: var('--fontsizeMedium');
  padding: 1rem;
  border-radius: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
}
