@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 41.1rem;
}

header {
  background-color: var('--pinkColor');
}
